// Specific CSS for your home-page
.disappear {
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 2s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
     /*  width:0;
      height:0; */
      /* overflow:hidden; */
      display: none;
  }
}
@-webkit-keyframes cssAnimation {
  to {
     /*  width:0;
      height:0; */
      /* visibility:hidden; */
      display: none;
  }
}
