<div id="push"></div>

<footer class="footer">
  <div class= "footer-info">
    <p>All rights reserved to Cameroo and its affiliates ©</p>
  </div>
  <div class= "footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</footer>
