  <div class="logo">

    <img src="https://i.ibb.co/VtW4JTw/clipart3128090-1.png">
</div>
<div class="navbar">
   <div class="navbar-item">
    <a class="active" href="#home">Home</a>
    <a href="#cameras">cameras</a>
    <a href="#lens">lens</a>
    <a href="#acessories">acessories</a>
  <div class="navbar-item">
    <a href="#lens">sign up</a>
  </div>
</div>

</div>
