

<div class="camera-list">


  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-sm-3">
          <div class="card item-card">
            <%= cl_image_tag item.photo.key %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text"><%= item.price %>€</p>

              <%= link_to "See Offer", item_path(item), class:"btn btn-primary"%>


            </div>
          </div>
        </div>
      <% end %>
    </div>



  </div>
</div>
