.camera-show {
  width: 500px;
}

.camera-show img {
  border-radius: 5px;
}

.photo-and-description {
}

.photo-and-description img {
  border-radius: 10px;
}

.photo-and-description p {
  text-align: justify;
}


.uttons-and-price {
  width: 300px;
}
