.item-card{
  width: 18rem;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  min-height: 400px;
  margin-bottom: 17px;

 .card-text{
  text-overflow: ellipsis;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
 }
}

.camera-list {
  padding-top: 80px;
}

.card-category {
  border: none;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  min-height: 400px;
  margin-bottom: 17px;
  position: relative;
  border-radius: 10px;
}

.card-category img {
  border-radius: 10px 10px 0 0;
}

.card-btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
