@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  top: 0;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  line-height: 34px;
}

.logo-and-cameroo{
  display: flex;
  align-items: center;
  p {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    margin: 0px;
    margin-bottom: -3px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
}
